<div fxLayout="row wrap" style="margin-top: -15px;padding: 0px 5px 0px 5px;">
    <div class="w-100 flex-p">
            <p style="margin-top:5px;">
                    <span class="mr-8" style="font-size: 18px;font-weight: bold;">Add Notes:</span>
                </p>
  <form class="form-horizontal" action="/action_page.php" style="margin-top: 20px;" >
      <div class="form-group">
          <!-- <label class="control-label col-sm-4">Content:</label> -->
          <div class="col-sm-12">
              <textarea rows="4" class="form-control txtarea" id="content" placeholder="Write here"></textarea>
          </div>
      </div>
      <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-3">
                    <select class='select-option form-control' required [(ngModel)]='communicationOptionSelected' (ngModelChange)='onCommunicationOptionsSelected($event)' name="communication">
                            <option class='option' [ngValue]="undefined" selected disabled>--Communication Type--</option>
                            <option class='option' *ngFor='let option of communicationOptions' [value]="option">{{option}}</option>
                     </select>
            </div>
           <div class="col-sm-3">
                <div class="input-icon right">
                        <i class="fa fa-calendar" [owlDateTimeTrigger]="dt1"></i>
                        <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="dob" [(ngModel)]="dateTime1" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    </div>
           </div>
           <div class="col-sm-2" style="margin-top: -4px;margin-right: 50px;">
               <button type="button" class="add-hover btn btn-success"><i class="fa fa-paper-plane"></i>Comment</button>
           </div>
      </div>
          <!-- <div class="form-group">
          <label class="control-label col-sm-4">Name:</label>
          <div class="col-sm-6">
              <input type="email" class="form-control" id="email" placeholder="Enter notes name">
          </div>
      </div> -->
      
      <!-- <button type="button" class="btn btn-primary" (click)="goBack()" style="float: right;"><span class="glyphicon glyphicon-chevron-left"></span>Back</button> -->
  </form>
  <!-- <div class="row" style="margin-top: 100px">
      <div class="col-md-5" style="background-color:#99ff66;border-radius: 10px ">
              <div style="margin-bottom: 10px;margin-top:10px"><b>Thu, 08 Nov 2018 19:14</b></div>
          <div style="margin-bottom: 10px"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;Client has a requirement for ERP system</div>
      </div>
      <div class="col-md-7"></div>
  </div>
  <div class="row" style="margin-top: 10px;margin-bottom: 10px">
      <div class="col-md-8"></div>
      <div class="col-md-4"></div>
  </div>
  <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5" style="background-color:#94b8b8;border-radius: 10px ">
          <div style="margin-bottom: 10px;margin-top: 10px;"><b>Fri, 16 Nov 2018 7:50</b></div>
          <div style="margin-bottom: 10px"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;Probable time for next contact should be by 1st November</div>
      </div>
  </div>
  <div class="row" style="margin-top: 10px;margin-bottom: 10px">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
      </div>
  <div class="row">
      <div class="col-lg-5" style="background-color:#99ff66;border-radius: 10px ">
              <div style="margin-bottom: 10px;margin-top: 10px;"><b>Tue, 13 Nov 2018 21:54</b></div>
          <div style="margin-bottom: 10px"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;The head of operations have changed from Mark to Paul effective from 15th Nov 2018 </div>
      </div>
  </div>
  <div class="row" style="margin-top: 10px;margin-bottom: 10px">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
      </div>
  <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5" style="background-color:#94b8b8;border-radius: 10px ">
              <div style="margin-bottom: 10px;margin-top: 10px;"><b>Mon, 19 Nov 2018 13:20</b></div>
              <div style="margin-bottom: 10px"><i class="fa fa-comment"></i>&nbsp;&nbsp;&nbsp;The next round of funding available by the client is post January 2019</div>
          </div>
  </div> -->





  
      
  <p style="margin-top:3px;">
        <span style="font-size: 18px;font-weight: bold;">Notes History:</span>
    </p>
      
      <mgl-timeline [toggle]="toggle" [alternate]="alternate">
        <mgl-timeline-entry *ngFor="let entry of entries; let i = index;" (expand)="onExpandEntry($event, i)">
          <mgl-timeline-entry-header [class] = 'entry.headerClass' (click)="onHeaderClick($event)">
            <div style="margin-bottom:10px;">
                <i class="{{entry.element}}" style="float: left">&nbsp;&nbsp;&nbsp;</i>
                <b style="float: left">{{entry.header}}</b>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="float:right;margin-top: -3px">&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil" style="float: right !important; cursor: pointer;" (click)="openEditDialog(entry.content)">&nbsp;&nbsp;&nbsp;</i></span>&nbsp;&nbsp;&nbsp;
                <b style="float: right">{{entry.date}}</b></div>
            <div style="float: left;"><p><i class="{{ entry.dataelement }}"></i>
                &nbsp;&nbsp;&nbsp;{{entry.content}}</p></div>
          </mgl-timeline-entry-header>
          
          <mgl-timeline-entry-dot [class]="entry.class"
          [size]="size"
          (click)="onDotClick($event)"></mgl-timeline-entry-dot>
          <!-- <mgl-timeline-entry-side>2018</mgl-timeline-entry-side> -->
        </mgl-timeline-entry>
      </mgl-timeline>
      
      
    

</div>
</div>




  