.alerts-dialog {
    border: 1px black solid;
    height: 450px;
}

.alerts-heading {
    background: #222222;
    color: white;
    text-align: center;
}

.alerts-heading>span {
    font-size: 24px;
}

.alert {
    margin-top:10px; 
    margin-bottom: 0px;
}
.alerts-content{
    height: 414px;
    overflow-y: scroll;
}

mgl-timeline {
    height: 300px !important;
    overflow:auto;
}
::ng-deep mgl-timeline-entry-content{
    height: auto !important;
}

::ng-deep .test{
    height: auto !important;
}