<div fxLayout="row wrap">
  <div class="w-100">
    <div class="flex-p">
      <div class="row wrap">
        <div class="col-xs-12">
          <div class="col-sm-12" style="padding: 0px 0px 20px 0px !important;">
            <button mat-raised-button class="pull-right add-hover-help-job btn-success-help-job" style="margin-left: 2px;">
              <mat-icon>help_outline</mat-icon> Help
            </button>
            
            <button mat-raised-button class="pull-right add-hover btn-success margin-right-10" (click)="OpenAddMunicipalityDialog(null)">
              <mat-icon>add</mat-icon> Add Best Practice
            </button>

          </div>
        </div>
      </div>
    </div>
 
      <div class="table-responsive w-100 flex-p col-sm-12" style="padding: 0px !important;">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Unit</th>
              <th>Location</th>
              <th>Subject</th>
              <th style="width: 550px;">Description</th>
              <th>Category</th>
              <th>Sub Category</th>
              <th>Visibility</th>
              <th>Logged By</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of practice">
              <td>{{item.unit}}</td>
              <td>{{item.location}}</td>
              <td>{{item.subject}}</td>
              <td>{{item.description}}</td>
              <td>{{item.category}}</td>
              <td>{{item.subcat}}</td>
              <td>{{item.visibility}}</td>
              <td>{{item.logged}}</td>
              


              <td class="text-center">
                <a matTooltip="Edit Details" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1" (click)="OpenAddMunicipalityDialog(item)">
                  <i class="fa fa-edit"></i>
                </a>
                <a>
                  <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete" class="fa fa-trash red"></i>
                </a>
              </td>

            </tr>
          </tbody>
        </table>
     
    </div>

  </div>
</div>

<!-- <div *ngIf="!leads" fxLayout="column" fxLayoutAlign="center center" class="lead-spinner">
<mat-spinner color="primary"></mat-spinner>
</div> -->