<div class="row">
    <div class="table-responsive w-100 col-lg-3" style="padding-left: 23px;">
        <table class="table table-striped table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
                <th style="width: 4%;text-align: center!important">Select</th>
                <th style="width: 12%;">Days in a Week</th>
            </tr>
          </thead>
      <tbody>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Monday</td>
        </tr>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Tuesday</td>
        </tr>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Wednesday</td>
        </tr>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Thursday</td>
        </tr>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Friday</td>
        </tr>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Saturday</td>
        </tr>
        <tr>
          <td class="text-center"><mat-checkbox color='warn'></mat-checkbox></td>
          <td>Sunday</td>
        </tr>
      </tbody>
        </table>
      </div>
</div>
<div class="row" style="padding:0px 0px 0px 23px">
    <div class="col-lg-3" style="padding-right: 32px;">
        <div class="w-100">
          <button mat-raised-button color="primary" class="pull-right" style="background-color:#229494 !important">
            Save
          </button>
        </div>
      </div>
</div>

