.btn-success-help-anno {
    background: #ecdf29 !important;
    color: black !important;
}
.add-hover-help-anno:hover {
    //color: #222222 !important;
    background: #f8f18a !important;
}
.eventstbl tbody tr td:nth-child(3) {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}