.mat-raised-button {
    padding: 0 16px !important;
}

.pills > .nav > li.active > a {
    background: #50636d !important;
    color: #ffffff;
}

.tabActive{
    background: #50636d !important;
    color: #ffffff;
}

.observations-ul{
    list-style: none;
}

.observations-tbl tr td:nth-child(1){
  width:63px;
  padding-left: 5px;
}

.observations-tbl tr{
    cursor: pointer;
  }

.observations-tbl tr td{
    padding: 8px 0px;
  }

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
       transform: translateY(-5px);
    } 
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30%
    {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50%
    {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65%
    {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80%
    {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100%
    {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.nav-pills > li + li {
    margin-left: 10px;
}

td.left-btn{
    border: unset;
    background: #50636d;
    color: #fff;
    padding: 18px 0px;
    width: 60px;
    text-align: center !important;
    cursor: pointer;
}


td.left-btn mat-icon,td.right-btn mat-icon{
    font-size: 40px;
    width: 36px;
}

td.right-btn{
    border: unset;
    background:#50636d;
    color: #fff;
    padding: 18px 0px;
    width: 60px;
    text-align: center !important;
    cursor: pointer;
}

td.main-category-content{    
    border: 1px solid #cccccc7d !important;
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    text-align: center !important;
    vertical-align: middle;
}

.navigation-table td{
  border-top:unset;
}

::ng-deep body .ui-selectbutton .ui-button.ui-state-active {
    background-color: #007ad9  !important;
    border-color: #007ad9 !important;
    color: #ffffff !important;
}

::ng-deep .ui-button-text.ui-clickable{
    padding: 12px 18px !important;
}