::ng-deep .mat-checkbox-inner-container-no-side-margin {
    margin-left: 0;
    margin-right: 0;
    background: white;
}

::ng-deep .approve .app.black-light .mat-radio-button.mat-radio-checked.mat-accent .mat-radio-outer-circle {
    border-color: #40ec07;
}
::ng-deep .decline > .app.black-light .mat-radio-button.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ff3329;
}
.app.black-light  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: red !important;
}
/deep/ .mat-radio-outer-circle {
    .mat-radio-checked & {
          border-color: #3f51b5;
        }
    }
    
    /deep/ .mat-radio-inner-circle {
        background-color: #3f51b5;
    }
    
    /deep/ .mat-radio-ripple .mat-ripple-element {
        background-color: rgba(#3fb54f, 0.26);
    }