.lead-details {
    padding: 0 12px;
    font-weight: 400;
}

.lead-content {
    padding: 10px;
    .lead-img {
        position: relative;
        img { 
            border-radius: 50%;
            width: 80px;
            height: 80px;
            &.blocked {
                opacity: 0.5;
            }
        }
        .mat-icon {
            position: absolute;
            top: -8px;
            left: -8px;
            font-size: 96px;
            height: 96px;
            width: 96px;
        }
    }
    .mat-slide-toggle {
        margin-top: 15px;
    }
    .lead-details {
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .mat-icon {
            padding: 2px 10px;
        }
        &.blocked {
            opacity: 0.5;
        }
    }
}

.lead-search {
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    .mat-form-field {
        width: 100% !important;
        text-align: center !important;
        height: 36px;
    }
    .mat-form-field-infix {
        padding: 5px;
    }
    .mat-input-element {
        text-align: center;
    }
    &.show {
        width: 100%;
        overflow: visible;
    }
}

.lead-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.lead-content .lead-details .mat-icon {
    padding:0px 30px 2px 10px !important
}
p {
    margin: 0 0 5px !important;
}

h4{
    font-size: 18px !important;
}