<div class="table-responsive w-100 col-sm-12" style="padding: 7px;">
  <table class="table table-striped table-bordered table-hover">
    <thead class="tbl-head">
      <tr class="tr-grid-header">
          <th style="min-width: 200px;">Subject</th>
          <th>Hierarchy (Client >> Project >> Site >> Scope of Work >> Task)</th>
          <th style="min-width: 125px;">Claimed By</th>
          <th style="min-width: 125px;">Role Title</th>
          <th style="min-width: 125px;">Validated By</th>
          <th style="min-width: 100px;" class="text-center">Amount</th>
          <th style="min-width: 100px;" class="text-center">Year <br/>Till Date</th>
          <th style="min-width: 75px;">Declined</th>
      </tr>
    </thead>
<tbody>
  <tr *ngFor="let item of dataSource">
    <td>{{item.subject}}</td>
    <td>{{item.columns}}</td>
    <td>{{item.partyChief}}</td>
    <td>{{item.role}}</td>
    <td>{{item.validatedby}}</td>
    <td class="text-center">{{item.amount}}</td>
    <td class="text-center">{{item.tillDateAmount}}</td>
    <td class="text-center">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button color='warn' [disabled]="true" [checked]=item.isDeclined value="3"></mat-radio-button>
          </mat-radio-group>
    </td>
  </tr>
</tbody>
  </table>
</div>




