<div fxLayout="row wrap">
  <div class="row col-md-12 col-sm-12 w-100 flex-p">
    <div class="col-md-2 col-sm-2 col-xs-2" style="margin-bottom: 10px;">
      <div class="m-auto pills w-100 row">
        <ul class="nav nav-pills ">
          <li routerLinkActive="active" class="width-100"><a mat-raised-button
            routerLink='/OM/summary/audit-summary'>Audit Summary</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/observations'>Observations</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/pareto-chart'>Categorization</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/pareto-analysis'>Pareto Analysis</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/drilldown'>Drill Down(Top Five)</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/fragile-overview'>Fragile Overview</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/audit-response'>Auditee Response</a></li>
          <li routerLinkActive="active" class=" width-100"><a mat-raised-button
              routerLink='/OM/summary/capa-clearance'>CAPA Clearance </a></li>
          <li routerLinkActive="active" class="width-100"><a mat-raised-button
              routerLink='/OM/summary/generate-report'>Improvement</a></li>
          <li routerLinkActive="active" class="text-center width-100"><a color="primary" class="bg-primary" mat-raised-button
              routerLink='/OM/summary/generate-report2'>Generate Report</a></li>
        </ul>
      </div>
    </div> 

    <div class="col-md-10 col-sm-10 col-xs-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>