<div class="w-100">
        <div class="flex-p">
          <div class="row wrap">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <!-- <div class="pills w-100 flex-p">
                <ul class="nav nav-pills ">
                  <li routerLinkActive="active">
                    <a (click)="isGridView = true" routerLink="/IBW/admin/availability/weekdays" style="margin-right: 8px; padding: 0px 10px;"
                      mat-raised-button="gray" class="remove_top_bottom_padding mat-raised-button" tabindex="0" aria-disabled="false">
                      <span class="mat-button-wrapper">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">today</mat-icon>
                        Weekdays
                      </span>
                      <div class="mat-button-ripple mat-ripple" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                    </a>
                  </li>
                  <li routerLinkActive="active">
                    <a (click)="isGridView = false" routerLink="/IBW/admin/availability/holidays" style="margin-right: 8px; padding: 0px 10px;"
                      mat-raised-button="" class="remove_top_bottom_padding mat-raised-button" tabindex="0" aria-disabled="false">
                      <span class="mat-button-wrapper">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">transfer_within_a_station</mat-icon>
                        Holidays
                      </span>
                      <div class="mat-button-ripple mat-ripple" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                    </a>
                  </li>
                  <li (click)="isGridView = false" routerLinkActive="active">
                    <a routerLink="/IBW/admin/availability/vacations" style="padding: 0px 10px;" mat-raised-button="" class="remove_top_bottom_padding mat-raised-button"
                      tabindex="0" aria-disabled="false">
                      <span class="mat-button-wrapper">
                        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">time_to_leave</mat-icon>
                        Vacation Plans
                      </span>
                      <div class="mat-button-ripple mat-ripple" matripple=""></div>
                      <div class="mat-button-focus-overlay"></div>
                    </a>
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="col-xs-8" style="margin-right:0px !important">
              <div class="w-100 flex-p">
                <button mat-raised-button  class="pull-right add-hover-help btn-success-help"
                  style="margin-right: 23px;">
                  <!-- (click)="openHelpVideo(null)" -->
                  <mat-icon>help_outline</mat-icon> Help
                </button>
                <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" >
                      <!-- (click)="filterToggle = !filterToggle" -->
                  <mat-icon>filter_list</mat-icon> Filter
                </button>
              </div>
            </div>
      
          </div>
        </div>
      
        <div class="row ">
          <div class="col-xs-6">
          </div>
        </div>
        <!-- <div fxLayout="row wrap" *ngIf="filterToggle">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row col-lg-12">
                          <div class="col-lg-2 col-md-3 col-sm-3">
                              <input type="text" class='select-option form-control' placeholder="From Date" onfocus="(this.type='date')"
                                  onblur="if(this.value==''){this.type='text'}">
                          </div>
                          <div class="col-lg-2 col-md-3 col-sm-3">
                              <input type="text" class='select-option form-control' placeholder="To Date" onfocus="(this.type='date')"
                                  onblur="if(this.value==''){this.type='text'}">
                          </div>
                          <div class="col-lg-2">
                              <select class='select-option form-control' required 
                                  (ngModelChange)='onProjectOptionsSelected($event)'>
                                  <option class='option'  selected disabled>--By
                                      Client--</option>
                                  <option class='option' *ngFor='let option of projectOptions' [value]="option">{{option}}</option>
                              </select>
                          </div>
                          <div class="col-lg-2">
                              <select class='select-option form-control' required 
                                  (ngModelChange)='onProjectOptionsSelected($event)'>
                                  <option class='option'  selected disabled>--By
                                      Project Manager--</option>
                                  <option class='option' *ngFor='let option of projectOptions' [value]="option">{{option}}</option>
                              </select>
                          </div>
                          <div class="col-lg-2">
                              <select class='select-option form-control' required
                                  (ngModelChange)='onProjectOptionsSelected($event)'>
                                  <option class='option'  selected disabled>--By
                                      Project--</option>
                                  <option class='option' *ngFor='let option of projectOptions' [value]="option">{{option}}</option>
                              </select>
                          </div>
      
                          <div class="col-lg-1">
                              <button type="button" class="btn btn-success add-hover pull-right">Search</button>
                          </div>
                          <div class="col-lg-1" style="padding-left: 0px!important;width: 96px;padding-right: 30px;">
                              <button type="button" class="reset-hover btn btn-success-gray  pull-right">Reset</button>
                          </div>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
      </div> -->
        <div class="w-100 row col-sm-12">
          <div class="w-100 flex-p col-sm-4" style="border: 0.5px solid gray;margin-left: 11px;">
              <div class="w-100 flex-p col-lg-12" style="padding-right: 0px!important;">
                  <button mat-raised-button color="primary" style="min-width: 110px;margin-right: 0px!important;background-color: #e0e0e0;
                  color: black;" class="pull-right filters-hover margin-right-10" (click)="scrollActions('left');">
                      Next<mat-icon>skip_next</mat-icon>
                  </button>
                  <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" style="background-color: #e0e0e0;
                  color: black;" (click)="scrollActions('right');">
                      <mat-icon>skip_previous</mat-icon> Previous
                  </button>
          </div>
            <div class="w-100 "> 
                    <div id="actions" class="table-responsive w-100" style="padding-top:17px!important;">
                        <table id="action" class="table table-striped table-bordered table-hover">
                            <thead class="tbl-head">
                                <tr class="tr-grid-header">
                                    <th>Assign</th>
                                    <th style="min-width:127px!important">Action Title</th>
                                    <th >Task</th>
                                    <th style="min-width:56px!important">SOW</th>
                                    <th style="min-width:115px!important">Site</th>
                                    <th style="min-width:65px!important">Project</th>
                                    <th style="min-width:125px!important">Project Manager</th>
                                    <th style="min-width:105px!important">Date Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of Actions">
                                    <td>
                                        <a title="Assign Action" (click)="openScheduleDialog(null)" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                            <i class="fa fa-arrow-circle-right" style="color:green;padding-left: 13px!important;"></i>
                                        </a>
                                    </td>
                                    <td>{{item.actiontitle}}</td>
                                    <td>{{item.task}}</td>
                                    <td>{{item.sow}}</td>
                                    <td>{{ item.site }}</td>
                                    <td>{{ item.project }}</td>
                                    <td>{{ item.projectmanager }}</td>
                                    <td>{{item.datecreated}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
        </div>
          </div>
          <div class="flex-p col-sm-7" style="border: 0.5px solid gray;margin-left: 20px;">
      <div fxFlex="100" class="flex-p"> 
          <mat-card class="block p-0">
              <div class="bg-primary">
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"  class="w-100">            
                      <div class="">                
                          <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                              <mat-icon *ngIf="!settings.rtl">chevron_left</mat-icon>
                              <mat-icon *ngIf="settings.rtl">chevron_right</mat-icon>
                          </button>
                          <button mat-icon-button mwlCalendarToday [(viewDate)]="viewDate">
                              <mat-icon>today</mat-icon>
                          </button>
                          <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                              <mat-icon *ngIf="settings.rtl">chevron_left</mat-icon>
                              <mat-icon *ngIf="!settings.rtl">chevron_right</mat-icon>
                          </button>
                      </div>
                      <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
                      <div class="">
                          <button mat-icon-button (click)="view = 'month'">
                              <mat-icon>view_comfy</mat-icon>
                          </button>
                          <button mat-icon-button (click)="view = 'week'">
                              <mat-icon>view_week</mat-icon>
                          </button>
                          <button mat-icon-button (click)="view = 'day'">
                              <mat-icon>view_day</mat-icon>
                          </button>
                          <!-- <button mat-icon-button (click)="openScheduleDialog(null)">
                              <mat-icon>add</mat-icon>
                          </button> -->
                      </div>
                  </div>            
              </div>
      
              <div [ngSwitch]="view">
                  <mwl-calendar-month-view
                      *ngSwitchCase="'month'"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)">
                  </mwl-calendar-month-view>
                  <mwl-calendar-week-view
                      *ngSwitchCase="'week'"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh">
                  </mwl-calendar-week-view>
                  <mwl-calendar-day-view
                      *ngSwitchCase="'day'"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh">
                  </mwl-calendar-day-view>
              </div>
      
         </mat-card>
      </div>
          </div>
        </div>
      
      </div>