<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div class="row" style="margin-bottom:14px;">
            <div class="col-sm-12">
                <div class="pills w-100 flex-p">
                    <ul class="nav nav-pills ">
                        <li routerLinkActive="active" style="margin-right: 10px">
                            <a mat-raised-button class="remove_top_bottom_padding mat-raised-button" routerLink="/IBW/scheduling/assets/schedule-assets">
                                <mat-icon>web_asset</mat-icon>Assets Scheduling
                            </a>
                        </li>
                        <li routerLinkActive="active" style="margin-right: 10px">
                            <a mat-raised-button class="remove_top_bottom_padding mat-raised-button" routerLink="/IBW/scheduling/assets/manage-assets">
                                <mat-icon>work</mat-icon> Manage Assets
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <router-outlet></router-outlet>
    </div>

</div>