      <div fxLayout="column">
            <div class="col-10 m-auto mt-4 w-100 h-300p py-5">
              <ngx-charts-bar-vertical-2d
              [view]="view"
              [scheme]="colorScheme"
              [results]="multi"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle">
            </ngx-charts-bar-vertical-2d>
            </div>
      </div>