<!--This page is used to add or edit leads-->
<div>
    <h1 mat-dialog-title>Remarks</h1>
    <hr>
    <div mat-dialog-content>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam expedita labore, mollitia eaque
                        adipisci sapiente.</p>
                </div>
            </div>
        </form>
    </div>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
    </mat-dialog-actions>
</div>