<div fxLayout="row wrap" #resizedDiv>
        <div class="flex-p w-100">
    
            <div class="table-responsive">
                <table id="example2" style="margin-top: 10px" class="table table-bordered table-hover table-striped">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>Service Level</th>
                            <th>Previous Value</th>
                            <th>New Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tolerance for schedule variation in months</td>
                            <td>2</td>
                            <td>
                                <div>
                                    <mat-select placeholder="--Select--" class="form-control" id="email">
                                        <mat-option value="2">2</mat-option>
                                        <mat-option value="4">4</mat-option>
                                        <mat-option value="6">6</mat-option>
                                        <mat-option value="12">12</mat-option>
                                    </mat-select>
                                </div>
                            </td>
                            <td>
                                <button mat-raised-button class="add-hover btn-success" style="height: 33px;"> Save
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Audit Report turnaround time in days</td>
                            <td>5</td>
                            <td>
                                <div>
                                    <mat-select placeholder="--Select--" class="form-control" id="email">
                                        <mat-option value="5">5</mat-option>
                                        <mat-option value="10">10</mat-option>
                                        <mat-option value="25">25</mat-option>
                                        <mat-option value="50">50</mat-option>
                                        <mat-option value="100">100</mat-option>
                                    </mat-select>
                                </div>
                            </td>
                            <td>
                                <button mat-raised-button class="add-hover btn-success" style="height: 33px;"> Save
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>CAPA turnaound time in days</td>
                            <td>15</td>
                            <td>
                                <div>
                                    <mat-select placeholder="--Select--" class="form-control" id="email">
                                        <mat-option value="5">5</mat-option>
                                        <mat-option value="10">10</mat-option>
                                        <mat-option value="25">25</mat-option>
                                        <mat-option value="50">50</mat-option>
                                        <mat-option value="100">100</mat-option>
                                    </mat-select>
                                </div>
                            </td>
                            <td>
                                <button mat-raised-button class=" add-hover- btn-success" style="height: 33px;"> Save
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </div>
    
    </div>