
.btn-success-gray {
    background: #686968fa !important;
    color: white !important;
}
.pills>.nav>li.active>a {
    background: #50636d!important;
    color: #fff;
}
.remove_top_bottom_padding.mat-raised-button {
    padding-top: 0px;
    padding-bottom: 0px;
    background:#e0e0e0;
}
.btn-success-help {
    background: #ecdf29 !important;
    color: black !important;
}
.bulk-action{
    width: 18%;
    height: 40px !important;
    background: #e0e0e0;
}