.account-name {
    padding: 0 12px;
    font-weight: 400;
}

.account-content {
    padding: 10px;
    .account-img {
        position: relative;
        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            &.blocked {
                opacity: 0.5;
            }
        }
        .mat-icon {
            position: absolute;
            top: -8px;
            left: -8px;
            font-size: 96px;
            height: 96px;
            width: 96px;
        }
    }
    // .mat-slide-toggle {
    //     margin-top: 15px;
    // }
    .account-details {
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .mat-icon {
            padding: 2px 10px;
        }
        &.blocked {
            opacity: 0.5;
        }
    }
}

.account-search {
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    .mat-form-field {
        width: 100% !important;
        text-align: center !important;
        height: 36px;
    }
    .mat-form-field-infix {
        padding: 5px;
    }
    .mat-input-element {
        text-align: center;
    }
    &.show {
        width: 100%;
        overflow: visible;
    }
}

.account-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.account-content .account-details .mat-icon {
    padding:0px 30px 2px 10px !important
}
p {
    margin: 0 0 5px !important;
}




.pills>.nav>li>a {
    border-radius: 4px;
    //padding: 8px 25px;
    background: #dddddd !important;
    //border-color: #444d58;
    //box-shadow: 7px 6px 25px #7b7b7bee;
    margin-right: 7px;
    //border-bottom: 5px solid transparent;
    //color: #ffffff;
    font-size: 15px;
    min-width: 64px;
    line-height: 40px;
    padding: 0 16px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pills>.nav>li.active>a {
    background: #50636d !important;
    color: #ffffff;
    //border-bottom: #222222 5px solid;
}

.pills>.nav>li>a:hover {
    color: #ffffff;
    background: #70818a !important;
    //border-bottom: #2e3a40 5px solid;
    //box-shadow: 5px 6px 6px #909090ee;
}

.pills>.nav>li.active>a:hover {
    color: #222222;
    background: #50636d !important;
    //border-bottom: #222222 5px solid;
    //box-shadow: 7px 6px 25px #7b7b7bee;
}
