<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">

      <div class="row" style="margin-bottom:14px;">
        <div class="col-sm-12">
          <div class="pills w-100 flex-p">
              <ul class="nav nav-pills ">
                  <li routerLinkActive="active" style="margin-right: 8px">
                      <a   mat-raised-button class="remove_top_bottom_padding mat-raised-button"  routerLink="/IBW/admin/master-data/job-codes">
                          <mat-icon>work</mat-icon> Job Codes
                      </a>
                  </li>
                  <li routerLinkActive="active" style="margin-right: 8px">
                        <a   mat-raised-button class="remove_top_bottom_padding mat-raised-button"  routerLink="/IBW/admin/master-data/expense-codes">
                            <mat-icon>money_off</mat-icon> Expense Codes
                        </a>
                    </li>
                  <li routerLinkActive="active" style="margin-right: 8px">
                      <a  mat-raised-button class="remove_top_bottom_padding mat-raised-button" routerLink="/IBW/admin/master-data/asset_categories">
                          <mat-icon>web_asset</mat-icon> Asset Categories
                      </a>
                  </li>
                  <li routerLinkActive="active" style="margin-right: 8px">
                    <a  mat-raised-button class="remove_top_bottom_padding mat-raised-button" routerLink="/IBW/admin/master-data/client-type">
                        <mat-icon>category</mat-icon> Client Types
                    </a>
                </li>
                <li routerLinkActive="active" style="margin-right: 8px">
                    <a  mat-raised-button class="remove_top_bottom_padding mat-raised-button" routerLink="/IBW/admin/master-data/survey-type">
                        <mat-icon>merge_type</mat-icon> Survey Types
                    </a>
                </li>
                <li routerLinkActive="active" style="margin-right: 8px">
                    <a  mat-raised-button class="remove_top_bottom_padding mat-raised-button" routerLink="/IBW/admin/master-data/lead-source">
                        <mat-icon>surround_sound</mat-icon> Lead Sources
                    </a>
                </li>
              </ul>
          </div>
      </div>
         
      </div>

      <router-outlet></router-outlet>
  </div>

</div>
