<div fxLayout="row wrap">
    <div class="w-100">
        <div fxLayout="row wrap" style="margin-top:-3px;">
            <div class="table-responsive w-100 flex-p" style="padding-top:17px!important">
                <table id="example2" class="table table-striped table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th style="min-width: 80px;">Project</th>
                            <th style="min-width: 95px!important;">Site</th>
                            <th style="min-width: 110px!important;">SOW</th>
                            <th>Task</th>
                            <th style="min-width: 125px!important;">Action</th>
                            <th style="min-width: 56px!important;">1-June</th>
                            <th style="min-width: 56px!important;">2-June</th>
                            <th style="min-width: 56px!important;">3-June</th>
                            <th style="min-width: 56px!important;">4-June</th>
                            <th style="min-width: 56px!important;">5-June</th>
                            <th style="min-width: 56px!important;">6-June</th>
                            <th style="min-width: 56px!important;">7-June</th>
                            <th style="min-width: 56px!important;">8-June</th>
                            <th style="min-width: 56px!important;">9-June</th>
                            <th style="min-width: 65px!important;">10-June</th>
                            <th style="min-width: 65px!important;">11-June</th>
                            <th style="min-width: 65px!important;">12-June</th>
                            <th style="min-width: 65px!important;">13-June</th>
                            <th style="min-width: 65px!important;">14-June</th>
                            <th style="min-width: 65px!important;">15-June</th>
                            <th style="min-width: 65px!important;">16-June</th>
                            <th style="min-width: 65px!important;">17-June</th>
                            <th style="min-width: 65px!important;">18-June</th>
                            <th style="min-width: 65px!important;">19-June</th>
                            <th style="min-width: 65px!important;">20-June</th>
                            <th style="min-width: 65px!important;">21-June</th>
                            <th style="min-width: 65px!important;">22-June</th>
                            <th style="min-width: 65px!important;">23-June</th>
                            <th style="min-width: 65px!important;">24-June</th>
                            <th style="min-width: 65px!important;">25-June</th>
                            <th style="min-width: 65px!important;">26-June</th>
                            <th style="min-width: 65px!important;">27-June</th>
                            <th style="min-width: 65px!important;">28-June</th>
                            <th style="min-width: 65px!important;">29-June</th>
                            <th style="min-width: 65px!important;">30-June</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Vacations">
                            <td>{{item.projects}}</td>
                            <td>{{item.sites}}</td>
                            <td>{{item.sow}}</td>
                            <td>{{ item.task }}</td>
                            <td>{{item.action}}</td>
                            <td [class.bg-yellow]="item.oneHr == 'Reviewed'" [class.bg-gray]="item.oneHr == 'Pending'" [class.bg-green]="item.oneHr == 'Completed'" [class.bg-blue]="item.oneHr == 'Initiated'" [class.bg-red]="item.oneHr == 'Overdue'" [title]="item.oneHr"></td>
                            <td [class.bg-yellow]="item.twoHr == 'Reviewed'" [class.bg-gray]="item.twoHr == 'Pending'" [class.bg-green]="item.twoHr == 'Completed'" [class.bg-blue]="item.twoHr == 'Initiated'" [class.bg-red]="item.twoHr == 'Overdue'" [title]="item.twoHr"></td>
                            <td [class.bg-yellow]="item.threeHr == 'Reviewed'" [class.bg-gray]="item.threeHr == 'Pending'" [class.bg-green]="item.threeHr == 'Completed'" [class.bg-blue]="item.threeHr == 'Initiated'" [class.bg-red]="item.threeHr == 'Overdue'" [title]="item.threeHr"></td>
                            <td [class.bg-yellow]="item.fourHr == 'Reviewed'" [class.bg-gray]="item.fourHr == 'Pending'" [class.bg-green]="item.fourHr == 'Completed'" [class.bg-blue]="item.fourHr == 'Initiated'" [class.bg-red]="item.fourHr == 'Overdue'" [title]="item.fourHr"></td>
                            <td [class.bg-yellow]="item.fiveHr == 'Reviewed'" [class.bg-gray]="item.fiveHr == 'Pending'" [class.bg-green]="item.fiveHr == 'Completed'" [class.bg-blue]="item.fiveHr == 'Initiated'" [class.bg-red]="item.fiveHr == 'Overdue'" [title]="item.fiveHr"></td>
                            <td [class.bg-yellow]="item.sixHr == 'Reviewed'" [class.bg-gray]="item.sixHr == 'Pending'" [class.bg-green]="item.sixHr == 'Completed'" [class.bg-blue]="item.sixHr == 'Initiated'" [class.bg-red]="item.sixHr == 'Overdue'" [title]="item.sixHr"></td>
                            <td [class.bg-yellow]="item.sevenHr == 'Reviewed'" [class.bg-gray]="item.sevenHr == 'Pending'" [class.bg-green]="item.sevenHr == 'Completed'" [class.bg-blue]="item.sevenHr == 'Initiated'" [class.bg-red]="item.sevenHr == 'Overdue'" [title]="item.sevenHr"></td>
                            <td [class.bg-yellow]="item.eigthHr == 'Reviewed'" [class.bg-gray]="item.eigthHr == 'Pending'" [class.bg-green]="item.eigthHr == 'Completed'" [class.bg-blue]="item.eigthHr == 'Initiated'" [class.bg-red]="item.eigthHr == 'Overdue'" [title]="item.eigthHr"></td>
                            <td [class.bg-yellow]="item.nineHr == 'Reviewed'" [class.bg-gray]="item.nineHr == 'Pending'" [class.bg-green]="item.nineHr == 'Completed'" [class.bg-blue]="item.nineHr == 'Initiated'" [class.bg-red]="item.nineHr == 'Overdue'" [title]="item.nineHr"></td>
                            <td [class.bg-yellow]="item.tenHr == 'Reviewed'" [class.bg-gray]="item.tenHr == 'Pending'" [class.bg-green]="item.tenHr == 'Completed'" [class.bg-blue]="item.tenHr == 'Initiated'" [class.bg-red]="item.tenHr == 'Overdue'" [title]="item.tenHr"></td>
                            <td [class.bg-yellow]="item.elevenHr == 'Reviewed'" [class.bg-gray]="item.elevenHr == 'Pending'" [class.bg-green]="item.elevenHr == 'Completed'" [class.bg-blue]="item.elevenHr == 'Initiated'" [class.bg-red]="item.elevenHr == 'Overdue'" [title]="item.elevenHr"></td>
                            <td [class.bg-yellow]="item.twelveHr == 'Reviewed'" [class.bg-gray]="item.twelveHr == 'Pending'" [class.bg-green]="item.twelveHr == 'Completed'" [class.bg-blue]="item.twelveHr == 'Initiated'" [class.bg-red]="item.twelveHr == 'Overdue'" [title]="item.twelveHr"></td>
                            <td [class.bg-yellow]="item.thirteenHr == 'Reviewed'" [class.bg-gray]="item.thirteenHr == 'Pending'" [class.bg-green]="item.thirteenHr == 'Completed'" [class.bg-blue]="item.thirteenHr == 'Initiated'" [class.bg-red]="item.thirteenHr == 'Overdue'" [title]="item.thirteenHr"></td>
                            <td [class.bg-yellow]="item.fourteenHr == 'Reviewed'" [class.bg-gray]="item.fourteenHr == 'Pending'" [class.bg-green]="item.fourteenHr == 'Completed'" [class.bg-blue]="item.fourteenHr == 'Initiated'" [class.bg-red]="item.fourteenHr == 'Overdue'" [title]="item.fourteenHr"></td>
                            <td [class.bg-yellow]="item.fifteenHr == 'Reviewed'" [class.bg-gray]="item.fifteenHr == 'Pending'" [class.bg-green]="item.fifteenHr == 'Completed'" [class.bg-blue]="item.fifteenHr == 'Initiated'" [class.bg-red]="item.fifteenHr == 'Overdue'" [title]="item.fifteenHr"></td>
                            <td [class.bg-yellow]="item.sixteenHr == 'Reviewed'" [class.bg-gray]="item.sixteenHr == 'Pending'" [class.bg-green]="item.sixteenHr == 'Completed'" [class.bg-blue]="item.sixteenHr == 'Initiated'" [class.bg-red]="item.sixteenHr == 'Overdue'" [title]="item.sixteenHr"></td>
                            <td [class.bg-yellow]="item.seventeenHr == 'Reviewed'" [class.bg-gray]="item.seventeenHr == 'Pending'" [class.bg-green]="item.seventeenHr == 'Completed'" [class.bg-blue]="item.seventeenHr == 'Initiated'" [class.bg-red]="item.seventeenHr == 'Overdue'" [title]="item.seventeenHr"></td>
                            <td [class.bg-yellow]="item.eighteenHr == 'Reviewed'" [class.bg-gray]="item.eighteenHr == 'Pending'" [class.bg-green]="item.eighteenHr == 'Completed'" [class.bg-blue]="item.eighteenHr == 'Initiated'" [class.bg-red]="item.eighteenHr == 'Overdue'" [title]="item.eighteenHr"></td>
                            <td [class.bg-yellow]="item.nineteenHr == 'Reviewed'" [class.bg-gray]="item.nineteenHr == 'Pending'" [class.bg-green]="item.nineteenHr == 'Completed'" [class.bg-blue]="item.nineteenHr == 'Initiated'" [class.bg-red]="item.nineteenHr == 'Overdue'" [title]="item.nineteenHr"></td>
                            <td [class.bg-yellow]="item.twentyHr == 'Reviewed'" [class.bg-gray]="item.twentyHr == 'Pending'" [class.bg-green]="item.twentyHr == 'Completed'" [class.bg-blue]="item.twentyHr == 'Initiated'" [class.bg-red]="item.twentyHr == 'Overdue'" [title]="item.twentyHr"></td>
                            <td [class.bg-yellow]="item.twentyoneHr == 'Reviewed'" [class.bg-gray]="item.twentyoneHr == 'Pending'" [class.bg-green]="item.twentyoneHr == 'Completed'" [class.bg-blue]="item.twentyoneHr == 'Initiated'" [class.bg-red]="item.twentyoneHr == 'Overdue'" [title]="item.twentyoneHr"></td>
                            <td [class.bg-yellow]="item.twentytwoHr == 'Reviewed'" [class.bg-gray]="item.twentytwoHr == 'Pending'" [class.bg-green]="item.twentytwoHr == 'Completed'" [class.bg-blue]="item.twentytwoHr == 'Initiated'" [class.bg-red]="item.twentytwoHr == 'Overdue'" [title]="item.twentytwoHr"></td>
                            <td [class.bg-yellow]="item.twentythreeHr == 'Reviewed'" [class.bg-gray]="item.twentythreeHr == 'Pending'" [class.bg-green]="item.twentythreeHr == 'Completed'" [class.bg-blue]="item.twentythreeHr == 'Initiated'" [class.bg-red]="item.twentythreeHr == 'Overdue'" [title]="item.twentythreeHr"></td>
                            <td [class.bg-yellow]="item.twentyfourHr == 'Reviewed'" [class.bg-gray]="item.twentyfourHr == 'Pending'" [class.bg-green]="item.twentyfourHr == 'Completed'" [class.bg-blue]="item.twentyfourHr == 'Initiated'" [class.bg-red]="item.twentyfourHr == 'Overdue'" [title]="item.twentyfourHr"></td>
                            <td [class.bg-yellow]="item.twentyfiveHr == 'Reviewed'" [class.bg-gray]="item.twentyfiveHr == 'Pending'" [class.bg-green]="item.twentyfiveHr == 'Completed'" [class.bg-blue]="item.twentyfiveHr == 'Initiated'" [class.bg-red]="item.twentyfiveHr == 'Overdue'" [title]="item.twentyfiveHr"></td>
                            <td [class.bg-yellow]="item.twentysixHr == 'Reviewed'" [class.bg-gray]="item.twentysixHr == 'Pending'" [class.bg-green]="item.twentysixHr == 'Completed'" [class.bg-blue]="item.twentysixHr == 'Initiated'" [class.bg-red]="item.twentysixHr == 'Overdue'" [title]="item.twentysixHr"></td>
                            <td [class.bg-yellow]="item.twentysevenHr == 'Reviewed'" [class.bg-gray]="item.twentysevenHr == 'Pending'" [class.bg-green]="item.twentysevenHr == 'Completed'" [class.bg-blue]="item.twentysevenHr == 'Initiated'" [class.bg-red]="item.twentysevenHr == 'Overdue'" [title]="item.twentysevenHr"></td>
                            <td [class.bg-yellow]="item.twentyeightHr == 'Reviewed'" [class.bg-gray]="item.twentyeightHr == 'Pending'" [class.bg-green]="item.twentyeightHr == 'Completed'" [class.bg-blue]="item.twentyeightHr == 'Initiated'" [class.bg-red]="item.twentyeightHr == 'Overdue'" [title]="item.twentyeightHr"></td>
                            <td [class.bg-yellow]="item.twentynineHr == 'Reviewed'" [class.bg-gray]="item.twentynineHr == 'Pending'" [class.bg-green]="item.twentynineHr == 'Completed'" [class.bg-blue]="item.twentynineHr == 'Initiated'" [class.bg-red]="item.twentynineHr == 'Overdue'" [title]="item.twentynineHr"></td>
                            <td [class.bg-yellow]="item.thirtyHr == 'Reviewed'" [class.bg-gray]="item.thirtyHr == 'Pending'" [class.bg-green]="item.thirtyHr == 'Completed'" [class.bg-blue]="item.thirtyHr == 'Initiated'" [class.bg-red]="item.thirtyHr == 'Overdue'" [title]="item.thirtyHr"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>